body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  position: relative;
  min-height: 100vh;
  min-width:  100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;

}
.image-container {
  position: absolute;
  top: 54%;
  right: 8%;
  transform: translateY(-50%);
  z-index: 2;
  width: 30%;
  

}
#typewriter {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    max-width: 35%;
    white-space: pre-wrap;
    margin-right: 5px;
    position: absolute;
    top :230px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0 0, 82% 0, 71% 100%, 0% 100%);  
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  width: 100%;
  max-width: 100%;
  margin-left: 5%;
  color: black
}

.content:hover {
  opacity: 1;
}


@media (max-width: 1024px) {
  .image-container {
    width: 30%;
    right: 0%;
  }
  #typewriter {
    font-size: 1rem;
    max-width: 40%;
    top: 200px;
  } 
  #tyepwriter p{
    font-size: large;
  }
  .container{
    background-color: #EDEDE9;
  }
  .container::before{
    background-color: #EDEDE9;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 1.5rem;
    width: 100%;
    
  }
  #typewriter {
    padding-top: 20%;
    font-size: 1rem;
    max-width: 100%;
    top: 150px;
  }
  #typewriter p {
  
    font-size: 0.2rem;
    
  }
  .content h2{
    padding-top: 5%;
    font-size: large;
  }
  .content h1{
    padding: 0;
  }
  

}

@media (max-width: 576px) {

  .content {
    padding: 1rem;
  }
  .image-container {
    display: none;
  }
  
  .typerwriter {
   
    max-width: 100%;
  }
 
}

@media (max-width: 375px) {
 
  .content {
    padding: 0.75rem;
  }

  h1 {
    font-size: 1.75rem !important;
  }

  h2 {
    font-size: 1.1rem !important;
  }

  h3 {
    font-size: 0.9rem !important;
  }

  
}

 