@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white;
  
}

#root {
  min-height: 100vh;
    
}

::-webkit-scrollbar{
    width: 0px;
}
